html{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after{
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
*{
	margin: 0;
	padding: 0;
}
body{    
    background: url(../assets/wood-nature-walking-dark.jpg) center center no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
hr,.cover-img{
	margin: 2em auto;
}
p{
	line-height: 1.5em;
	margin: 1.5em 0;
}
.landing-area {
    width: 100%;
    max-width: 1000px;
	margin: 0 auto;
    padding: 1.5em;    
    color: #000;
    background: #fff;
    font-size: 1.10em;
    font-family: Verdana,Geneva,sans-serif;
    text-align: left;
}
.landing-area h1{
    font-size: 2.25em;
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
    text-align: center;
}
.landing-area hr{
    border-color: #a8a8a8;
}
.cover-img{
	display: block;
	width: 50%;	
}
@media screen and (max-width: 800px) {
	.cover-img{
		width: 100%;
	}
}