---
layout: page
title: Articles
description: A listing of previous blog posts for McKinneys
permalink: /articles/
---

{% for post in site.posts %}
    <div>
        <!-- can we get post image? -->
        <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        <p>{{ post.date }}</p>
        {% if post.featured-image %}{% include post-featured-image.html image=post.featured-image alt=post.featured-image-alt %}{% endif %}
        <!-- loop through post categories or tags? -->
        <div>{{ post.excerpt }}</div>        
    </div>
{% endfor %}
