---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  {% for post in site.posts limit:3 %}
    <div>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>          
        {% if post.featured-image %}{% include post-featured-image.html %}{% endif %}
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
      </div>   
    {% endfor %}
    
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
