---
layout: default
page: home
---

<!-- Intro Section -->
<section class="home-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img alt="Patrick and Kara McKinney taking a selfie" class="img-responsive" src="{{ site.baseurl }}/assets/images/general/patrick-kara-italian-lake.jpg" />
            </div>
            <div class="col-md-8">
                <h1>{{ site.title }}</h1>
				<p>Welcome to our blog! We are the McKinneys as you may have gathered from the name. Thanks for visiting! The adults in this clan go by the names of Patrick and Kara, and we have loads of fun helping three little children navigate their growing up years.</p>
				<p>We will be writing articles on all kinds of topics. From the adventures we take, to the things we are digging right now. From challenges we choose to take on, to the struggles we cannot control. We hope you find inspiration, camaraderie or just some laughs along the way.</p> 
            </div>
        </div>        
    </div>
</section> 
<!-- Latest Posts -->
<section class="feat-posts">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Recent Articles</h2>                        
            </div>
        </div>
        <div class="row">
            {% for post in site.posts limit:3 %}
                {% include recent-posts.html %}
            {% endfor %}
        </div>        
    </div>
</section>