{% for item in site.data.featuredMedia %}
<div class="col-md-4 portfolio-item">
    <div class="thumbnail">
        <h3 class="text-center"><a href="{{ item.url }}">{{ item.title }}</a></h3>
        <span class="">{{ item.category }}</span>
        <img src="{{ site.baseurl }}/images/featured-media/{{ item.image }}" alt="{{ item.alt }}" class="img-responsive" />
        <div class="caption">                          
            <p>{{ item.summary }}</p>           
            <a class="btn btn-primary center-block" href="{{ item.url }}">View Thing</a>
        </div>
    </div>
</div>
{% endfor %}