<div>
	<div class="text-center">
		<h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
		<span class="post-meta">Posted on: {{ post.date | date: "%b %-d, %Y" }}</span>
		<br />
		{% include post-category-links.html %}
	</div>
	{% if post.featured-image %}
		<a href="{{ post.url | prepend: site.baseurl }}">
			{% include post-featured-image.html image=post.featured-image alt=post.featured-image-alt %}
		</a>
	{% endif %}
	<div class="post-excerpt">
		{{ post.excerpt }}
	</div>
</div>