<div class="col-md-4">
    <div class="thumbnail">
        <h3 class="text-center"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>        
        {% if post.author %} 
            By <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ post.author }}</span></span>
        {% endif %}
        <br />
        <span class="post-meta">Posted on {{ post.date | date: "%b %-d, %Y" }}</span> 
        <a href="{{ post.url | prepend: site.baseurl }}">
        {% if post.featured-image %}
            {% include post-featured-image.html image=post.featured-image alt=post.featured-image-alt %}
        {% endif %}
        </a>        
        <hr />
        <p>{{ post.teaser }}</p> 
    </div>
</div>