<div class="social-sharing text-center">	
	<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-lang="en" data-show-count="false">Tweet</a>
	<div class="fb-share-button" data-layout="button" data-size="large"><a target="_blank" href="{{site.url}}{{page.url}}" class="fb-xfbml-parse-ignore">Share</a></div>
	<a class="email-icon" href="mailto:?to=&body=I%20wanted%20to%20share%20this%20article%20with%20you.%20%20{{page.title}}%20is%20written%20by%20{{site.title}}.%20%20You%20can%20read%20it%20at%20{{site.url}}{{page.url}}&subject=An%20Article%20You%20Might%20Like" title="share article by e-mail"><img src="{{site.url}}/assets/images/general/email-icon.png" alt="letter icon to represent email" /></a>
</div>